/* UNICEF RapidSMS UI
 * vim:set noet:
 * --
 * layout.css
 * --
 * This stylesheet creates a generic RapidSMS look
 * that can be shared between UNICEF webuis */


@import url('/static/webapp/stylesheets/layout.css');

#branding h1 {
   background: url("../images/rapidsms.png") no-repeat 100% 50%;
}

#branding h1 b {
   background: url("../images/unicef_ar.png") no-repeat 0 50%;
}

#tabs      { left: 0; }
/*#page-tabs { right: 0;  }*/


#page-tabs li {
   float: left;
}

#footer p.rights {
       text-align: left;
       float: left;
}